<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <!--  <form method="POST" action="/login">  -->

        <input type="text" id="username">
        <a>Username</a>
        <br>
        <input type="text" id="password">
        <a>Password</a>
        <br>
        <input type="button" id="loginButton" value="Log in">

   <!-- </form> -->
  <script src="javascripts/login.js"></script>
</body>
</html>